.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.title {
    margin-top: 20px;
}

.submitBtn {
    background-color: #07800C;
    color: white;
    border-radius: 6px;
    width: 25%;
}

.text {
    font-size: 1.6rem;
    margin-top: 20px;
}

.link {
    text-decoration: none;
    font-size: 1.6rem;
    margin-top: 10px;
}