.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 85px auto 0 auto;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.contentWrapper {
    margin-top: 53px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.contentElement {
    background-color: #F1EACF;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    width: 198px;
}

.text {
    margin-top: 69px;
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
}

